* {
    font-size: 14px;
    /* font-family: Monaco, Consolas, monospace, Roboto; */
}

window#waybar {
  background-color: rgba(0,0,0,0);
  /* color: rgba(241, 221, 30, 0.8); */
  color: white;
  padding: 5px;
  text-shadow: 0px 0px 5px ${second_col};
}

#custom-power_menu, #workspaces, .modules-center, .modules-right {
  border: 1px solid ${primary_shade_bold};
  border-radius: 15px;
  padding:  1px 5px 1px 5px;
  background-color: rgba(0,0,0,0.7);
}

button {
  border-radius: 15px;
  padding: 0px 5px;
  color: white;
  text-shadow: 0px 0px 5px ${second_col};
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#custom-power_menu {
  font-size: 19px;
  padding: 0px 0px 0px 5px;
  color: ${primary_col};
  border-radius: 50px;
  margin-right: 5px;
  text-shadow: 0px 0px 5px ${second_col};
}

#custom-separator {
  padding:  0px 5px 0px 5px;
  color: ${primary_shade_med};
}

#workspaces button.urgent {
  background-color: rgba(230, 130, 155, 0.2);
}

#workspaces button.active {
  background-color: ${primary_shade};
  color: ${primary_shade_bold};
  text-shadow: 0px 0px 5px ${primary_col};
}

#memory:hover, #cpu:hover, #bluetooth:hover, #bluetooth.on, #bluetooth.connected {
  background-color: ${primary_shade};
  color: ${primary_shade_bold};
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
  text-shadow: 0px 0px 5px ${primary_col};
}

@keyframes slow-blink {
  to {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
  }
}

#bluetooth.connected {
  /* color: ${primary_col}; */
  animation-name: slow-blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery {
  border-radius: 15px;
  padding:  0px 5px 0px 5px;
}

#battery.charging {
  background-color: ${primary_shade};
  color: ${primary_col};
  text-shadow: 0px 0px 5px ${primary_col};
}

#battery.critical:not(.charging) {
  background-color: rgba(230, 130, 155, 0.2);
  color: rgb(230, 130, 155);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  border-radius: 15px;
  padding-left: 5px;
}

#idle_inhibitor.activated {
  background-color: ${primary_shade};
  color: ${primary_shade_bold};
  padding-right: 2px;
  text-shadow: 0px 0px 5px ${primary_col};
}

